.personal-area {
    opacity: 0;
    animation: ani 2s forwards; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Ossem";
    font-size: 1.15vw;
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 80%;
    transform: translateY(-50%);
    top: 50%;
}

.menu button {
    margin-bottom: 1vw; 
    padding: 0.8vw 1.6vw;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.menu button:hover {
    color: #b56576;
}

.cardAc {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2vw;
    width: 55vw;
    height: 80vh;
    overflow-y: auto;
    display: flex;
}

.info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.info-row {
    display: flex;
    gap: 8vw;
}

.info-item {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    border-bottom: 0.1vw solid #ccc;
    gap: 18vw;
}

.info-label {
    font-weight: bold;
}

.info-label-name {
    font-weight: bold;
    margin-right: -7vmax;
}

.info-label-sname {
    font-weight: bold;
    margin-right: -7vmax;
    margin-left: 10vmax;
}

.form-group {
    margin-bottom: 1.5vw;
}

label {
    display: block;
    margin-bottom: 0.5vw;
}

#firstName,
#lastName,
#phone,
#email,
#password,
#confirmPassword {
    width: 15vw;
    padding: 0.8vw;
    border-radius: 4px;
    border: 0.1vw solid #ccc;
    font-size: 1.15vw;
    margin-top: 0.5vw;
}
label {
    font-weight: bold;
}
#gender {
    width: 5vw;
    padding: 0.8vw;
    border-radius: 4px;
    border: 0.1vw solid #ccc;
    font-size: 1.15vw;
    margin-top: 0.5vw
}
#email {
    width: 15vw;
    padding: 0.8vw;
    border-radius: 4px;
    border: 0.1vw solid #ccc;
    font-size: 1.15vw;
    margin-top: 0.5vw
}

button {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    padding: 0.8vw 1.6vw;
    text-align: center;
    margin-bottom: 1vw;
    cursor: pointer;
}

#change {
    width: 8vmax;
    background-color: #b56576;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-right: 2vmax;
}
#changes {
    width: 8vmax;
    background-color: #65b584;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-right: 2vmax;
}
#changec {
    width: 8vmax;
    background-color: #aa3851;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-right: 25vmax;
}


button:hover {
    color: #b56576;
}

.password-hint {
    background: none;
    border: none;
    color: #b56576;
    cursor: default;
    font-size: 0.9vw;
}




