@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
input {
    padding: 0.4vmax 1vmax;
    border: 0;
    font-size: 1em;
}
input:focus {
    outline: none;
}
.search {
    width: 82%;
    margin-top: -1vh;
}
.submit {
    font-family: "Ossem";
    width: 6vmax;
    height: 4.8vh;
    background-color: #b56576;
    color: #ffffff;
}
.row {
    overflow: hidden;
}
.custom-select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.container{
    opacity: 0;
    animation: ani 3s forwards;
}