.pagination {
    justify-content: center;
  }
  
  .pagination .page-link {
    color: #333; /* Цвет текста ссылок */
    background-color: transparent; /* Прозрачный фон */
    border-color: #ccc; /* Цвет рамки */
  }
  
  .pagination .page-link:hover {
    color: #555; /* Цвет текста при наведении */
    background-color: #ffffff; /* Фон при наведении */
    border-color: #ccc; /* Цвет рамки при наведении */
  }
  
  .pagination .page-item.active .page-link {
    background-color: #ffffff; /* Цвет фона активной страницы */
    border-color: #e2e2e2; /* Цвет рамки активной страницы */
  }
  
  .pagination .page-item.disabled .page-link {
    color: #ccc; /* Цвет текста ссылки, которая отключена */
    pointer-events: none; /* Отключение кликабельности */
    cursor: not-allowed; /* Изменение курсора */
  }