.shop-info {
    font-family: "Ossem";
    background-color: #f9f9f9;
    padding: 3vw; /* Адаптивный внутренний отступ, зависящий от ширины окна */
    margin-bottom: 5vw; /* Адаптивный внешний отступ, зависящий от ширины окна */
    border-radius: 1vw; /* Адаптивный радиус закругления углов, зависящий от ширины окна */
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1); /* Адаптивная тень, зависящая от ширины окна */
}

.shop-info-dark {
    font-family: "Ossem";
    background-color: #111111;
    box-shadow: 0 0 2vw rgba(152, 152, 152, 0.1); 
    color: white; /* Цвет текста белый в тёмной теме */
}

.shop-info-dark h2 {
    color: white; /* Цвет заголовков белый в тёмной теме */
}

.shop-info h2 {
    font-size: 3vw; /* Адаптивный размер шрифта заголовка, зависящий от ширины окна */
    margin-bottom: 2vw; /* Адаптивный внешний отступ снизу, зависящий от ширины окна */
}

.shop-info p {
    font-size: 1.5vw; /* Адаптивный размер шрифта абзаца, зависящий от ширины окна */
    margin-bottom: 2vw; /* Адаптивный внешний отступ снизу, зависящий от ширины окна */
}

.shop-info a {
    color: #007bff;
    text-decoration: none;
}

.shop-info a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .shop-info {
        padding: 4vw; /* Увеличение внутреннего отступа на меньших экранах */
        margin-bottom: 6vw; /* Увеличение внешнего отступа на меньших экранах */
    }

    .shop-info h2 {
        font-size: 4vw; /* Увеличение размера шрифта заголовка на меньших экранах */
        margin-bottom: 3vw; /* Увеличение внешнего отступа заголовка на меньших экранах */
    }

    .shop-info p {
        font-size: 3vw; /* Увеличение размера шрифта абзаца на меньших экранах */
        margin-bottom: 3vw; /* Увеличение внешнего отступа абзаца на меньших экранах */
    }
}

@media (max-width: 576px) {
    .shop-info {
        padding: 5vw; /* Еще большее увеличение внутреннего отступа на самых маленьких экранах */
        margin-bottom: 7vw; /* Еще большее увеличение внешнего отступа на самых маленьких экранах */
    }

    .shop-info h2 {
        font-size: 5vw; /* Еще большее увеличение размера шрифта заголовка на самых маленьких экранах */
        margin-bottom: 4vw; /* Еще большее увеличение внешнего отступа заголовка на самых маленьких экранах */
    }

    .shop-info p {
        font-size: 4vw; /* Еще большее увеличение размера шрифта абзаца на самых маленьких экранах */
        margin-bottom: 4vw; /* Еще большее увеличение внешнего отступа абзаца на самых маленьких экранах */
    }
}
