
.logo{
    width: 100%;
    height: 90vw;
}

main{
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.wrap{
    position: absolute;
    top: 0;
    left:0;
    right:0;
    margin: auto;
    z-index: 1;
    width: 100%;
    overflow: hidden;
}

.kiki{
    position: absolute;
    top: 0;
    left:0;
    margin: auto;
    z-index: 0;
    right:0;
    left: 50%;
    right: 50%;
    transform:translate(-50%,-50%);
    width: 200vw;
    height: 180vh;
    background-color:rgb(255, 255, 255);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.kiki-dark-mode{
    background-color: #111111;
}
.namelogo{ 
    padding-left: 3vw;
    font-family: "Outfit";
    font-size: 6.5rem;
    color:  #B56576;
    letter-spacing: 0.2em;
    text-transform: uppercase; 
    
}
.logo-container {
    z-index: 1;
    width: 28vw;
}

.logo-container img {
    width: 100%;
}
.logo-container.negative img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}