.regular-type {
    background-color: #ffffff;
    color: #000000;
  }
  .regular-type-dark-mode {
    background-color: #111111;
    color: #ffffff;
    border-left: 0;
    border-right: 0;
    border-color: #272727;
  }
  .active-type {
    background-color: #b56576;
    color: #ffffff;
  }
  
  .active-type-dark-mode {
    background-color: #b56576;
    color: #000000;
  }
