@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Navcontainer {
    display: flex;
    flex-direction: row-reverse;
}

.login-dark-mode {
    color: #ffffff;
}

.navbars a:hover {
    color: #B56576;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.navbars {
    opacity: 0;
    animation: ani 2s forwards; 
    height: 4vw;
    font-family: "Ossem";
    display: flex;
    flex-direction: row-reverse;
    background-color: #ffffff;
}

.navbars a {
    text-decoration: none;
    margin-right: 2vmax;
    color: #000000;
}

.navbars-dark-mode {
    background-color: #111111;
}

.navbars-dark-mode a {
    color: #ffffff;
}

.image-container {
    width: 1.4vw;
}

.image-container img {
    width: 100%;
}

.image-container.negative img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbars .brandStyle {
    font-family: "Outfit";
    font-size: 1.5rem;
    color: #B56576;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.brandStyle:hover {
    color: #B56576;
}

@media print {
    .navbars {
        display: none;
    }
}

@media screen and (orientation: portrait) {
    .navbars {
        z-index: 1000;
        height: 8vh;
        margin-left: -80vw;
    }
    .brandStyle{
        display: none;
    }
    .brandStyl {
        font-family: "Outfit";
        font-size: 1.5rem;
        color: #B56576;
        letter-spacing: 0.3em;
        text-transform: uppercase;
    }
    
    .brandStyl:hover {
        color: #B56576;
    }
    


/* Дополнительные стили для темной темы */
.navbars-dark-mode {
    background-color: #111111;
    color: #fff;
}

.navbars-dark-mode a {
    color: #fff;
}

.navbars-dark-mode .brandStyle {
    color: #B56576;
}

.navbars-dark-mode .image-container img {
    filter: invert(100%);
}

/* Темная тема для Offcanvas */
.offcanvas-dark-mode .offcanvas-header,
.offcanvas-dark-mode .offcanvas-body {

    background-color: #111111;
    color: #ffffff;
}

.offcanvas-dark-mode a {
    color: #ffffff !important;
    text-decoration: none;
    font-family: "Ossem";
    padding-bottom:1vh ;
}
.offcanvas a {
    color: #000000;
    text-decoration: none;
    font-family: "Ossem";
    padding-bottom:1vh ;
}

/* Темная тема для кнопки Navbar.Toggle */
.navbar-toggle-dark-mode {
    background-color: #111111;
    border-color: #ffffff;
    
}

.navbar-toggle-dark-mode .navbar-toggler-icon {
    filter: invert(100%);
}

.image-container {
    width: 3vh;
}

.image-container img {
    width: 100%;
}
}