.carousel{
    width: 85%;
    height: 30%;
    margin:auto;
}
.carouselblock{
    display: block;
    width: 100%;
}
@media screen and (orientation: portrait){
    .carousel{
        width: 50vh;
        height: 50vw;
        padding: auto;
    }
    .carouselblock{
        height: 23vh;
    }
}