@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.imagegoods {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image {
  grid-column: 1;
  width: 28vw;
  height: 75vh;
}
.centerimage {
  width: 100%; 
  transition: transform 0.3s ease;
}

.products {
  grid-column-start: 2;
  font-family: "Ossem";
  font-size: 1vw;
}

.mt {
  display: grid;
  grid-template-columns: 32vw 58vw 5vw;
  margin-top: 3vw;
  margin-left: 2vw;
}

.mt-dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.shortdesc {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.characteristic {
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f7f7;
}

.characteristic-dark-mode {
  background-color: #000000;
  color: #fff;
}

.product-details {
  margin-top: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px; 
}

.button-group .btn-outline {
  border: none;
  background: none;
}

button img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

button img#edit-del {
  width: 20px;
  height: 20px;
}

.star {
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
}

.star.filled {
  color: #ff0;
}

.add-review .stars {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
#addbasket{
  background-color: #76b565;
  border-color: transparent;
}

  

#addbasket:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow:#808080;
}
#addbasket:active{
  background-color: #679d58; 
}

.review-section .card {
  margin-bottom: 10px;
  background-color: #ffffff;
  color: #000;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-section-dark-mode .card {
  background-color: #333;
  color: #fff;
}

.review-section {
  width: 45vw;
  transform: translateX(-10%);
  margin: 0 auto;
  margin-top: 50px;
}

.user-name {
  font-size: 1.5vw;
  display: inline-block;
  margin-right: 10px;
}

.review-stars {
  display: inline-block;
}

.reviews {
  font-family: "Ossem";
  margin-top: 2vh;
  width: 35vw;
  margin: 0 auto;
  margin-top: 50px;
}

.add-review {
  margin-bottom: 20px;
}

.add-review .rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.add-review-dark-mode {
  background-color: #000000;
  color: #fff;
}


.date-text{
  color: #6c757d;

}

.review-section-dark-mode{
  color: #ccc;
}
