@keyframes ani {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.imagegoods {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image {
  grid-column: 1;
  width: 28vw;
  height: 75vh;
}

.centerimage {
  width: 100%; 

  transition: transform 0.3s ease;
}

.products {
  grid-column-start: 2;
  font-family: "Ossem";
  font-size: 1vw;
}

.mt {
  display: grid;
  grid-template-columns: 32vw 58vw 5vw;
  margin-top: 3vw;
  margin-left: 2vw;
}

.mt-dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.shortdesc {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.characteristic {
  margin-top: 20px;
}

.product-details {
  margin-top: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px; 
 
}
#edit-del{
  width: 2vmax;
  transition: transform 0.3s ease;
}
#edit-del:hover{
  transform: scale(1.1); 
}

.centerimage:hover {
  transform: scale(1.1); 
}
.reviews {
  font-family: "Ossem";
  margin-top: 2vh;
    width: 35vw;
    margin: 0 auto; /* Центрируем блок по горизонтали */
    margin-top: 50px; /* Примерное расстояние от верхнего края страницы */
 
}

.add-review {
  margin-bottom: 20px;
}

.add-review .rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.add-review .stars {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.add-review .star {
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
}

.add-review .star.filled,
.add-review .star:hover,
.add-review .star:hover ~ .star {
  color: #ff0;
}

.user-name{
  font-size: 1.5vw;
}


.review-section .card {
  margin-bottom: 10px;
}
.review-section {
  width: 45vw;
  transform: translateX(-10%);
  margin: 0 auto; /* Центрируем блок по горизонтали */
  margin-top: 50px; /* Примерное расстояние от верхнего края страницы */
}