.page__title {
    text-align: center;
    margin-top: 2vw; /* Адаптивный отступ сверху */
    font-family: "Ossem";
}
.page__title-dark{
    color: white;
}

.contact__form {
    background-color: #f9f9f9;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
    font-family: "Ossem";
    display: flex;
    flex-direction: column;
    max-width: 40vw; 
    margin: 0 auto;
    padding: 5vw; /* Адаптивный внутренний отступ */
    border-radius: 2vw; /* Адаптивный радиус закругления углов */
}

.contact__form input, .contact__form textarea {
    border: none;
    border-radius: 1vw; /* Адаптивный радиус закругления границы ввода */
    padding: 1vw; /* Адаптивный внутренний отступ */
    resize: vertical;
    outline: none;
    box-sizing: content-box;
    border-bottom: solid 0.3vw transparent; /* Адаптивная толщина и стиль нижней границы */
}

.contact__form label {
    font-weight: 600;
    margin-bottom: 1vw; /* Адаптивный отступ снизу для меток */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .contact__form {
        max-width: 90vw; 
        padding: 8vw;
        border-radius: 3vw; /* Увеличение радиуса закругления углов на меньших экранах */
    }

    .contact__form input, .contact__form textarea {
        padding: 5vw; /* Увеличение внутреннего отступа на меньших экранах */
        border-radius: 2vw; /* Увеличение радиуса закругления границы ввода на меньших экранах */
        margin: 3vw 0; /* Увеличение внешних отступов сверху и снизу на меньших экранах */
    }

    .contact__form label {
        margin-bottom: 2vw; /* Увеличение отступа снизу для меток на меньших экранах */
    }
}
