.page__title {
    text-align: center;
    margin-top: 15px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    background-color: #eee;
    padding: 25px;
    border-radius: 7px;
}

.contact__form input, .contact__form textarea {
    border: none;
    border-radius: 2px;
    padding: 10px;
    resize: vertical;
    outline: none;
    box-sizing: content-box;
    border-bottom: solid 3px transparent;
    margin: 5px 0;
}

.contact__form label {
    font-weight: 600;
}

.contact__form input:focus, .contact__form textarea:focus {
    border-bottom: solid 3px rgb(0, 119, 255);
}