@font-face {
    font-family: "Outfit";
    src: url(fonts/Outfit.ttf) format('truetype');
    font-family: "Ossem";
    src: url(fonts/Ossem.ttf) format('truetype');
}
.brandStyle{
    font-family: "Outfit";
    font-size: 1.5rem;
    color: #B56576;
    letter-spacing: 0.3em;
    text-transform: uppercase; 
}
.brandStyle:hover{
    color: #B56576;
    
}
.NavbarText{
    color: white;
    font-family: "Ossem";
    padding-top: 1vw;
  
}
.NavbarText:hover{
    color:#B56576;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.login{
    color: white;
    font-family: "Ossem";
    padding-top: 1vw;
}
.login:hover{
    color: #B56576;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.active-type {
    background-color: #B56576; 
    color: #f8f8f8; /* Цвет текста для активного элемента */
    
  
}
.Cards{
    width:100%;
     cursor:pointer;
     font-family: "Ossem";
     margin-bottom: 2vw;
      

}
.label{
    text-align: center;
    
}
.price{
    font-weight: bold;
}
.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;/* Установите высоту обертки */
}
.center-image {
    width: 70%; /* Установите желаемую ширину изображения */
    height: 100%; /* Установите желаемую высоту изображения */
    max-width: 100%;
    max-height: 100%;
    padding-top: 1.5vw;
 
}

@media (max-width: 768px) {
    .brandStyle {
        font-size: 0.9rem; /* Новый размер шрифта для мобильных устройств */
    }
    .NavbarText{
        display: none;
    }
    .Cards{
        display:flex ;
        justify-content:center;
         align-items:center;
         width:75%;
         cursor:pointer;
         margin: 3vw 12vw ;
    
    }
    .image-wrapper {
        height: 60vw; /* Изменяем высоту обертки для iPhone X */
    }
    .center-image {
        width: 55vw; /* Установите желаемую ширину изображения */
       padding-top: 5vw;
       padding-bottom: 5vw;
    }
}
