.Cardss {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
    height: 90%; /* Задание одинаковой высоты */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18vw;
}

.Cardss-dark {
    background-color: #242424;
    color: white;
}

.Cardss-dark .price {
    color: white;
}

.Cardss:hover {
    transform: scale(1.05);
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    overflow: hidden;
}

.center-image {
    width: 85%;
    height: 90%;
  
}

.label {
    text-align: center;
    margin-top: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    font-size: 1rem;
    font-weight: bold;
    height: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.price {
    font-size: 1.125rem;
    color: #000000;
    font-weight: bold;
    margin: 1rem 0;
}

.add-to-cart-buttons {
    width: 100%;
    background-color: #B56576;
    border: none;
    padding: 0.7rem;
    color: white;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-buttons:hover {
    background-color: #8a4f5c;
    color: white;
}

.add-to-cart-buttons:active {
    background-color: #ce778a;
}
@media screen and (orientation: portrait){
    .Cardss {
        margin: 0.5rem;
        margin-left: 5.5vh;
        padding: 0.5rem;
        width: 80%;
        height: 110%; /* Занимает всю доступную ширину на мобильных устройствах */
    }
    
    .image-wrapper {
        height: 35vh; /* Немного больше высота изображения на мобильных */
    }
    
    .label {
        padding: 0.5rem;
    }
    .add-to-cart-buttons {
        width: 100%;
        padding: 0.5rem;
        font-size: 0.9rem; /* Немного уменьшаем размер текста на мобильных */
    }
}
